# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Build artifacts
build/
dist/
coverage/
*.log
*.tmp
*.temp
tmp/

# Others
*.swp
