@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 0 0% 2%;
  --text: 0 0% 98%;
  --brand: 258 100% 62%;
  --muted: 0 0% 60%;
}
@media (prefers-color-scheme: light) {
  :root {
    --bg: 0 0% 99%;
    --text: 0 0% 5%;
  }
}
html, body, #__next { height: 100%; }
.noise { background-image: radial-gradient(currentColor 0.5px, transparent 0.5px); background-size: 2px 2px; }
